In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode, col, count

In [3]:
!pip install pyspark

Collecting pyspark
  Using cached pyspark-3.5.3.tar.gz (317.3 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840669 sha256=788ae649e1f308d36f8c2ed39bb86f757f5a52234cff170a8f3ab50a2d5154ef
  Stored in directory: c:\users\diman\appdata\local\pip\cache\wheels\07\a0\a3\d24c94bf043ab5c7e38c30491199a2a11fef8d2584e6df7fb7
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.3

In [5]:
spark = SparkSession.builder.appName("spark_hw").getOrCreate()

In [6]:
df = spark.read.csv("movies.csv", header=True)

In [8]:
df.show()
print(5)

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|
|You Will Meet a T...|   Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|
|        When in Rome|   Comedy|              Disney|              44|            0|               15|        $43.04 |2010|
|What Happens in V...|   Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|  2.896019067|               96|       $521.28 |2008|
|            Waitress|  Romance|         Independent|              67|   11.0897415|               89|        $22.18 |2007|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|  4.184038462|               17|       $217.57 |2010|
|Tyler Perry's Why...|  Romance|         Independent|              47|    3.7241924|               46|        $55.86 |2007|
|Twilight: Breakin...|  Romance|         Independent|              68|  6.383363636|               26|       $702.17 |2011|
|            Twilight|  Romance|              Summit|              82|  10.18002703|               49|       $376.66 |2008|
|      The Ugly Truth|   Comedy|         Independent|              68|  5.402631579|               14|       $205.30 |2009|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|
|The Time Traveler...|    Drama|           Paramount|              65|  2.598205128|               38|       $101.33 |2009|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|
|The Invention of ...|   Comedy|        Warner Bros.|              47|  1.751351351|               56|        $32.40 |2009|
|  The Heartbreak Kid|   Comedy|           Paramount|              41|  2.129444167|               30|       $127.77 |2007|
|         The Duchess|    Drama|           Paramount|              68|  3.207850222|               60|        $43.31 |2008|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 20 rows

5

In [14]:
df.printSchema

<bound method DataFrame.printSchema of DataFrame[Film: string, Genre: string, Lead Studio: string, Audience score %: string, Profitability: string, Rotten Tomatoes %: string, Worldwide Gross: string, Year: string]>

In [16]:
df.printSchema()

root
 |-- Film: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Lead Studio: string (nullable = true)
 |-- Audience score %: string (nullable = true)
 |-- Profitability: string (nullable = true)
 |-- Rotten Tomatoes %: string (nullable = true)
 |-- Worldwide Gross: string (nullable = true)
 |-- Year: string (nullable = true)

In [20]:
df_split = df.withColumn("word", explode(split(col("Film"), " ")))

In [22]:
df_split.show()

+--------------------+-------+--------------------+----------------+-------------+-----------------+---------------+----+--------+
|                Film|  Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|    word|
+--------------------+-------+--------------------+----------------+-------------+-----------------+---------------+----+--------+
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|    Zack|
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|     and|
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|    Miri|
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|    Make|
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|       a|
|Zack and Miri Mak...|Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|   Porno|
|     Youth in Revolt| Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|   Youth|
|     Youth in Revolt| Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|      in|
|     Youth in Revolt| Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|  Revolt|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|     You|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|    Will|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|    Meet|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|       a|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|    Tall|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|    Dark|
|You Will Meet a T...| Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|Stranger|
|        When in Rome| Comedy|              Disney|              44|            0|               15|        $43.04 |2010|    When|
|        When in Rome| Comedy|              Disney|              44|            0|               15|        $43.04 |2010|      in|
|        When in Rome| Comedy|              Disney|              44|            0|               15|        $43.04 |2010|    Rome|
|What Happens in V...| Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|    What|
+--------------------+-------+--------------------+----------------+-------------+-----------------+---------------+----+--------+
only showing top 20 rows

In [24]:
word_count = df_split.groupBy("word").agg(count("word").alias("count"))

In [26]:
word_count.show()

+-----------+-----+
|       word|count|
+-----------+-----+
|      Tyler|    1|
|        Did|    1|
|    Dresses|    1|
|   Midnight|    1|
|     Senior|    1|
|     Method|    1|
|      Water|    1|
|        One|    1|
|       Days|    1|
|Valentine's|    1|
|      Porno|    1|
|       High|    1|
|      Drugs|    1|
|       Year|    2|
|   Benjamin|    1|
|       Make|    1|
|      Vegas|    1|
|  Pettigrew|    1|
|    Forever|    1|
|   Stranger|    1|
+-----------+-----+
only showing top 20 rows

In [28]:
max_word = word_count.orderBy(col("count").desc()).first()

print(f"The most frequent word is '{max_word['word']}' with {max_word['count']} occurrences.")

The most frequent word is 'and' with 9 occurrences.